<footer class="bg-light pt-4 pb-4 py-md-5">
  <div class="container">
    <div class="row"> 
      <div class="col-12 col-md">
        <span>Hang (Anne) Lu &copy;</span>
      </div>
      <div class="col-6 col-md">
        <a href="#" class="text-muted">
          <i class="fa fa-phone"></i>
          +1 780-885-7320
        </a>
      </div>
      <div class="col-6 col-md float-right">
        <a href="#" class="text-muted">
            <i class="fa fa-envelope"></i>
            hlu4@ualberta.ca
        </a>          
      </div>
    </div>  
  </div>
</footer>
